.app {
  box-sizing: border-box;
  font-weight: 500;
}

.container {
  background-color: #cccccc;
  margin: 0 2%;
  padding: 1%;
  flex: 1;
}

.flex {
  display: flex;
}

.seeAll {
  float: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: large;
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 1% 2%;
}